html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #fef4e2;
  --text-color: #000000;
  --section-bg: #ffffff;
  --shadow: rgba(0, 0, 0, 0.5);
  --hover-color:#f1dfc4;
  --calendar:#d2d2d2;
  --objects-color:#fcf7ee;
  --leaderboard: #fff0d7;
  --chat-bg:#fee9c2; 
  --chat-bg-2:#fbc1dd; 
}

body.dark-theme {
  --bg-color: #171716;
  --text-color: #ffffff;
  --section-bg: #2a2a2a;
  --hover-color:#2a2b38;
  --calendar:#4d4d4d;
  --text-color-lessbright:#b6b5c5;
  --objects-color: #232129;
  --leaderboard: #312d3b;
  --chat-bg: #171716;
  --chat-bg-2: #7b8196;
}

body.statistic-page {
  font-family: "Press Start 2P", sans-serif;
  background-color: var(--bg-color);
  display: flex;
  overflow: hidden;
  height: 100vh;
}

h2 {
  color: var(--text-color);
}
body.leaderboard1-page {
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: relative;
  background-color: var(--bg-color);
}
body.shareGarden {
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: relative;
  background-color: var(--bg-color);
}
body.friends-page {
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: relative;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

.stats-section {
  background-color: var(--objects-color);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 0 10px var(--shadow);
  width: 300px;
  color:var(--text-color);
}
.calendar {
  width: 430px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: var(--objects-color);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--shadow);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: var(--text-color)
}

.monthYear {
    text-align: center;
    font-weight: 600;
    width: 150px;
}

.header button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: var(--objects-color);
  cursor: pointer;
  border-radius: 30%;
  width: 40px;
  height:40px;
  box-shadow: 0 0 4px var(--shadow);
  color: var(--text-color);
}

.days{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  text-align: center;
  padding: 5px;
  color:var(--text-color);
  font-weight: 500;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2s;
    color: var(--text-color-lessbright);
}

.date:hover,
.date.active {
    background-color: rgb(60, 130, 206);
    color: #fff;
}

.date.inactive {
    color: var(--calendar);
}

.date.inactive:hover {
    color:#fff;
}

/* CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--objects-color);
    color:var(--text-color);
  }

.modal-content {
    background-color: var(--objects-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    border-radius: 10px;
}

.close {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  border: 2px;
  text-shadow:
    -2px -1px 0 black,
     2px -1px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
}

.close:hover {
  color: red;
  
}

.getMotivation {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;

  font-family: "Press Start 2P", sans-serif;
  font-size: 12px;
  color: var(--text-color);
  text-decoration: none;
  padding: 8px 12px;
  background-color: var(--objects-color);
  border: none;
  border-radius: 4px;
  z-index: 1000;
}

#motivationQuote {
  padding: 10px 12px;
  background: linear-gradient(var(--bg-color),var(--bg-color)) padding-box,
              linear-gradient(to right, rgb(124, 124, 244), darkorchid) border-box;
  border-radius: 12px;
  border: 5px solid transparent;
  color: var(--text-color)
}



.getMotivation:hover {
  background-color: rgba(90, 95, 130, 0.793);
  color: #ffffff;
}

.leaderboard {
  background-color: var(--objects-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  color:var(--text-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
  color: var(--text-color);
}

.leaderboard-entry {
  padding: 15px;
  margin: 5px 0;
  background-color:var(--leaderboard);
  border: 2px solid #000000;
  border-radius: 10px;
  color:var(--text-color-lessbright);
}

.leaderboard-entry:nth-child(2) { /* 1st place */
  border: 5px solid #f9dc3a;
  border-radius: 10px;
  font-weight: bold;
}
.leaderboard-entry:nth-child(3) { /* 2nd place */
  border: 5px solid #c0c0c0;
  border-radius: 10px;
  font-weight: bold;
}
.leaderboard-entry:nth-child(4) { /* 3rd place */
  border: 5px solid #d78c41;
  border-radius: 10px;
  font-weight: bold;
}

.leaderboard-entry:hover {
  transform: translateY(-3px);
  transition: 0.2s;
}

.error {
  color: #ff3333;
  padding: 10px;
  border: 2px dashed #ff3333;
}

.entry-rank {
  width: 40px;
  display: inline-block;
  color: var(--text-color-lessbright);
  font-size: 15px;
}

.entry-name {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.leaderboard-entry {
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
  padding: 4px;
}

/*TO DESIGN MY CONTAINERS with navigation stuff*/

.main-container {
  flex: 1; 
  padding: 20px;
  overflow: auto; 
}
.statistic-container {
  width: 270px;
  height: 100vh;
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  left: 0;
  border-right: 2px solid #000;
  display: flex;
  padding-top: 20px;
  box-sizing: border-box;
  z-index: 100;
  align-items: center;
  flex-direction:center;
  align-content: center;
  color:var(--text-color)
}


#leaderboardButton {
  position: fixed;
  top: 120px;
  left: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 12px 12px;
  border: 2px;
  width:210px;
  border-radius: 6px;
  text-align: left;
  display: inline-block;
}
#leaderboardButton:hover {
  background-color:var(--hover-color);
  transition: 0.2s ;
}

#back-to-home {
  position: fixed;
  top: 20px;
  left: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
  color: #ffee00;
  background-color: var(--bg-color);
  padding: 12px 12px;
  border: 2px;
  width:210px;
  border-radius: 6px;
  text-align: left;
  display: inline-block;
}
#back-to-home:hover {
  background-color: var(--hover-color);
  transition: 0.2s ;
}

#friendsButton {
  position: fixed;
  top: 170px;
  left: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 12px 12px;
  border: 2px;
  width:210px;
  border-radius: 6px;
  text-align: left;
  display: inline-block;
}
#friendsButton:hover {
  background-color: var(--hover-color);
  transition: 0.2s ;
}

#shareGardenButton {
  position: fixed;
  top: 220px;
  left: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
  color:var(--text-color);
  background-color: var(--bg-color);
  padding: 12px 12px;
  border: 2px;
  width:210px;
  border-radius: 6px;
  text-align: left;
  display: inline-block;
}
#shareGardenButton:hover {
  background-color: var(--hover-color);
  transition: 0.2s;
}

#statistics {
  position: fixed;
  top: 70px;
  left: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 12px 12px;
  border: 2px;
  width:210px;
  border-radius: 6px;
  text-align: left;
  display: inline-block;
}
#statistics:hover {
  background-color:var(--hover-color);
  transition: 0.1s;
}

a {
  text-decoration: none;
}

.main-content {
  margin-left: 270px; 
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  width: calc(100% - 270px);
  padding:20px;
  flex: 1;
}


.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  align-content: left;
}

/*GitHub alike grid*/
.githubParody {
  max-width: 800px;
  padding: 10px;
  background-color:var(--objects-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  font-family: "Press Start 2P", sans-serif;
  text-align: left;
  align-items: flex-start;
  color: var(--text-color);
}


.gridGit {
  display: grid;
  grid-template-columns: repeat(53, 12px); /* 53 weeks in a year */
  grid-template-rows: repeat(7, 12px);     /* 7 days a week */
  gap: 2px;
  margin-top: 10px;
}

.grid-box {
  width: 12px;
  height: 12px;
  background-color:var(--hover-color);
  border-radius: 2px;
  margin: 5px;
  padding: 0px;
}

.grid-box.level-1 { background-color: #9be9a8; }
.grid-box.level-2 { background-color: #40c463; }
.grid-box.level-3 { background-color: #30a14e; }
.grid-box.level-4 { background-color: #216e39; }

/*Big leaderboard main one*/
#bigLeaderboardContainer {
  padding: 20px;
  background: var(--objects-color);
  border: 2px solid #000000;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  font-family: "Press Start 2P", sans-serif;
  color: var(--text-color);
}

#bigLeaderboardContainer .leaderboard-entry {
  padding: 6px 10px;
  margin: 5px 0;
  background-color: var(--hover-color);
  border-radius: 8px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Press Start 2P", sans-serif;
}


/* Friends section */
.main-friends-content {
  margin-left: 270px;
}

#targetUserNameInput {
  width: 100px;
  background-color: var(--bg-color);
  border-radius: 4px;
  border: 3px solid #f9dc3a
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
}

.modalContent {
  background-color: var(--bg-color);
  padding: 30px 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  position: relative;
  color:var(--text-color); 
  position: flex;
  
  flex-direction: column;

}
#targetUserNameInput {
  color: var(--text-color);
  width: auto;
  padding:10px;
  font-family: "Press Start 2P";
}
#addFriendButton {
  font-family: "Press Start 2P";
  font-size: 12px;
  width:150px;
  padding:5px;
  margin-top: 30px;
  background-color: var(--objects-color);
  color:var(--text-color-lessbright);
  border-radius: 5px;
  border:none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}
#openModal {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  background-color: var(--objects-color);
  color: var(--text-color);
  font-family: "Press Start 2P", sans-serif;
  text-align: left;
  padding: 10px 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  position: absolute;
  top:25px;
  right:10px;
  z-index: 1;
  margin-right: 20px;

}

#openModal:hover {
  transition: 0.7s;
  transform: scale(1.01);
  background-color: #d83b7d;
}

#friendRequestsContainer {
  background:var(--objects-color);
  width: 100vw;
  height: 100px;
  margin: 5px;
  border-radius: 10px;
  color: var(--text-color);
  position: relative;

}

.friend-request {
  background-color: var(--objects-color);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}


.friend-request:hover {
  transform: scale(1.01);
}

.friend-request p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.accept-btn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
  font-family: "Press Start 2P";
  font-size: 10px;
}

.accept-btn:hover {
  background-color: #45a049;
}

/* Reject Button */
.reject-btn {
  background-color: #f44336;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
  font-family: "Press Start 2P";
  font-size: 10px;
}

.reject-btn:hover {
  background-color: #d32f2f;
}
#friendRequestsContainer {
  margin-top: 30px;
  padding: 15px 20px;
  background-color:var(--objects-color);
  border-radius: 12px;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  color: var(--text-color);
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

#friendRequestsContainer h3 {
  font-size: 16px;
  margin-bottom: 15px;
  color:  var(--text-color);
  text-align: left;
  
}
#friendsList {
  margin-top: 20px;
  padding: 15px 20px;
  background-color: var(--objects-color);
  border-radius: 12px;
  max-width: 100%;
  text-align: left;
  box-sizing: border-box;
  margin-left: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#friendsList h3 {
  font-size: 16px;
  margin-bottom: 15px;
  color: var(--text-color);
  text-align:left;
}
#friendsList div {
  background-color: var(--bg-color);
  border: 1px solid #000000;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  color:var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items:center;
}

#roflButton {
  width:200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: var(--bg-color);
  color:var(--text-color);
  font-family: "Press Start 2P", sans-serif;
  text-align: left;
  padding-left: 10px 15px;
  padding-left: 20px;
}

select {
  appearance: none;
  font: inherit;
  padding-left: 8px;
  border:none;
  border-radius: 8px;
  width: 220px;
  height:30px;
  
  
}

label{
  color: var(--text-color);
}

#themeToggle {
  font:inherit;
  position:relative;
  bottom: -340px;
  left:20px;
  border: none;
  border-radius: 4px;
  height:auto;
  padding:5px 10px;
  background-color: var(--section-bg);
  box-shadow: 0 0 10px rgba(0,0,0,0.6);

}

.data-canvas {
  padding: 10px;
  background: var(--objects-color);
  display: flex;
  justify-content: center;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  width: 400px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;

}

.data-canvas2 {
  padding: 10px;
  background: var(--objects-color);
  display: flex;
  justify-content: center;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  width: 400px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;

}
/*DESIGN FOR MESSenger*/

.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.openChatBtn {
  background-color: var(--objects-color);
  color: var(--text-color);
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  font-family: "Press Start 2P";
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.modal1 {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding: 10px; 
}

#chatModalContent {
  position: fixed;
  z-index: 1000;
  width: 50%;
  max-width: 400px;
  max-height: 100% ;
  background-color: var(--bg-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow-y: hidden;
  padding: 40px;
  color: var(--text-color)
}

#messagesContainer {
  display: flex;
  flex-direction: column; /* Stack messages vertically */
  width: auto;
  padding: 20px;
  background-color: var(--objects-color);
  height: 300px;
  overflow-y: auto; /* ✅ Scroll if too many messages */
  border: 1px solid var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#bottomModal {
  display: flex;
  gap: 1px;
  align-items: center;
}

#sendMessage {
  font-family: "Press Start 2P";
  padding: 11px;
  position:relative;
  width: auto;
  margin-top: 10px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

#textInput {
  outline: none;
  padding:12px;
  width:240px;
  border: 1px solid #8e8e8e;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f5f5f5;
  border-radius: 5px;
  font-family: "Press Start 2P";
  margin-top:10px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.from-me {
  background-color: var(--chat-bg);
  align-self: flex-start;
  text-align: left;
  border-radius: 5px;
  border: none;
  margin:5px;
  padding: 5px;
  color: var(--text-color-lessbright);
  box-shadow: 0 0 3px rgba(0,0,0,0.6);
}

/* Messages from friend */
.from-them {
  background-color: var(--chat-bg-2);
  align-self: flex-start;
  text-align: left;
  margin: 5px;
  padding: 5px;
  border-radius:5px;
  color: #000;
  box-shadow: 0 0 3px rgba(0,0,0,0.6);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.4);
}

.modal-content {
  background: var(--objects-color);
  padding: 50px;
  margin: 15% auto;
  width: 300px;
  border-radius: 8px;
  text-align: center;
  color: var(--text-color);
  
}

#stickerBtn {
  width:auto;
  font-family: "Press Start 2P";
  padding: 9px;
  position:relative;
  margin-top: 10px;
  box-shadow: 0 0 3px rgba(0,0,0,0.4);
}



#sticker-panel {
  position: absolute;
  bottom: 60px;
  left: 10px;
  background: white;
  border: 1px solid #ccc;
  padding: 35px;
  z-index: 9999;
  display: none;
  object-fit: cover;
  border-radius: 4px;

}

#close-emoji {
  transform: scale(0.9);
  top:2px;
  right:2px;
}

.sticker {
  height:50px;
  width:50px;
  border: 1px solid #000;
  border-radius: 3px;

}

#messagesContainer .chat-sticker {
  height: 90px;
  width: 90px;
}

#main-content-1 {
  width: 30%;
  min-width: 250px;       
  max-width: 600px;        
  margin: 0 auto;         
  padding: 1rem;
  box-sizing: border-box;  
}

.plant-icon::after {
  content: attr(data-rarity);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 4px 6px;
  font-size: 11px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: 10;
}

.plant-icon:hover::after {
  opacity: 1;
}
