html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.statistic-page {
  font-family: "Press Start 2P", sans-serif;
  background-color: #95c9c5;
  display: flex;
}
body.leaderboard1-page {
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: relative;
  background-color: #95c9c5;
}
body.shareGarden {
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: relative;
  background-color: #95c9c5;
}
body.friends {
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: relative;
  background-color: #95c9c5;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 50px;
  font-family: "Press Start 2P", sans-serif;
  min-height: 100vh;
  flex-wrap: wrap;
  overflow-y: auto;
}

.stats-section {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 500px;
}
.calendar {
  width: 430px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.monthYear {
    text-align: center;
    font-weight: 600;
    width: 150px;
}

.header button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #fff;
  cursor: pointer;
  border-radius: 30%;
  width: 40px;
  height:40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.days{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  text-align: center;
  padding: 5px;
  color:rgba(0, 0, 0);
  font-weight: 500;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}

.date:hover,
.date.active {
    background-color: rgb(60, 130, 206);
    color: #fff;
}

.date.inactive {
    color: #d2d2d2;
}

.date.inactive:hover {
    color:#fff;
}

/* CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    border-radius: 10px;
}

.close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.getMotivation {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;

  font-family: "Press Start 2P", sans-serif;
  font-size: 14px;
  color: #95c9c5;
  text-decoration: none;
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #184e3d9c;
  border-radius: 4px;
  z-index: 1000;
}

.getMotivation:hover {
  background-color: rgba(10, 21, 83, 0.7);
  color: #ffffff;
}

.leaderboard {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 8px;
  margin-top: 15px;
}

.leaderboard-entry {
  padding: 15px;
  margin: 5px 0;
  background-color:#f2f2f2;
  border: 5px solid #000000;
  border-radius: 10px;
}

.leaderboard-entry:nth-child(2) { /* 1st place */
  border: 5px solid #f9dc3a;
  border-radius: 10px;
  font-weight: bold;
}
.leaderboard-entry:nth-child(3) { /* 2nd place */
  border: 5px solid #c0c0c0;
  border-radius: 10px;
  font-weight: bold;
}
.leaderboard-entry:nth-child(4) { /* 3rd place */
  border: 5px solid #d78c41;
  border-radius: 10px;
  font-weight: bold;
}

.leaderboard-entry:hover {
  transform: translateY(-3px);
  transition: 0.2s;
}

.error {
  color: #ff3333;
  padding: 10px;
  border: 2px dashed #ff3333;
}

.entry-rank {
  width: 40px;
  display: inline-block;
  color: #000000;
  font-size: 15px;
}

.entry-name {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


.leaderboard-entry {
  text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
  padding: 4px;
}

/*TO DESIGN MY CONTAINERS*/
.statistic-container {
  background-color: #183f3c;
  height: 100vh;
  width: 270px;
  left: 0px;
  top: 0px;
  position: fixed;
  border:2px solid #000;
}
.main-container {
  flex: 1; 
  padding: 20px;
  overflow: auto; 
}



#leaderboardButton {
  position: fixed;
  top: 120px;
  left: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  padding: 12px 12px;
  border: 2px;
  width:210px;
  border-radius: 6px;
  text-align: left;
  display: inline-block;
}
#leaderboardButton:hover {
  background-color: #0f2b28;
  transition: 0.2s ;
}

#back-to-home {
  position: fixed;
  top: 20px;
  left: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  padding: 12px 12px;
  border: 2px;
  width:210px;
  border-radius: 6px;
  text-align: left;
  display: inline-block;
}
#back-to-home:hover {
  background-color: #0f2b28;
  transition: 0.2s ;
}

#friendsButton {
  position: fixed;
  top: 170px;
  left: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  padding: 12px 12px;
  border: 2px;
  width:210px;
  border-radius: 6px;
  text-align: left;
  display: inline-block;
}
#friendsButton:hover {
  background-color: #0f2b28;
  transition: 0.2s ;
}

#shareGardenButton {
  position: fixed;
  top: 220px;
  left: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  padding: 12px 12px;
  border: 2px;
  width:210px;
  border-radius: 6px;
  text-align: left;
  display: inline-block;
}
#shareGardenButton:hover {
  background-color:#0f2b28;
  transition: 0.2s;
}

#statistics {
  position: fixed;
  top: 70px;
  left: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  padding: 12px 12px;
  border: 2px;
  width:210px;
  border-radius: 6px;
  text-align: left;
  display: inline-block;
}
#statistics:hover {
  background-color:#0f2b28;
  transition: 0.1s;
}

a {
  text-decoration: none;
}