html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body.statistic-page {
  height: 100vh;
  background: url(/graphics/Preview_143.jpg) center center / cover no-repeat;
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 50px;
  font-family: "Press Start 2P", sans-serif;
}

.stats-section {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 500px;
}
.calendar {
  width: 430px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.monthYear {
    text-align: center;
    font-weight: 600;
    width: 150px;
}

.header button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #fff;
  cursor: pointer;
  border-radius: 30%;
  width: 40px;
  height:40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.days{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  text-align: center;
  padding: 5px;
  color:rgba(0, 0, 0);
  font-weight: 500;
}

#back-to-home {
  position: fixed;
  top: 20px;
  left: 20px;
  font-family: "Press Start 2P", sans-serif;
  font-size: 12px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 6px 12px;
  border: 2px solid #bef0be;
  border-radius: 4px;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}

.date:hover,
.date.active {
    background-color: rgb(60, 130, 206);
    color: #fff;
}

.date.inactive {
    color: #d2d2d2;
}

.date.inactive:hover {
    color:#fff;
}

/* CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    border-radius: 10px;
}

.close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.getMotivation {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;

  font-family: "Press Start 2P", sans-serif;
  font-size: 14px;
  color: #95c9c5;
  text-decoration: none;
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #184e3d9c;
  border-radius: 4px;
  z-index: 1000;
}

.getMotivation:hover {
  background-color: rgba(10, 21, 83, 0.7);
  color: #ffffff;
}